<p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;">Dear Admin,</p>
<p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;">A request for view video about <b>Election Impact</b> has been sent by <strong>##first_name## ##last_name##</strong>.</p>
<p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;">The request contains the following information.</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
	<td width="18%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">First Name</td>
	<td width="2%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
	<td width="80%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##first_name##</td>
  </tr>
  <tr>
	<td width="18%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">Last Name</td>
	<td width="2%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
	<td width="80%" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##last_name##</td>
  </tr>
  <tr>
	<td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">Organization</td>
	<td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
	<td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##organization##</td>
  </tr>
  <tr>
	<td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">Email</td>
	<td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">:</td>
	<td style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:14px;padding-bottom:10px;">##email##</td>
  </tr>
</table>
<p style="font-family:\'Lucida Sans Unicode\', \'Lucida Grande\', sans-serif;font-size:14px;">Regards,<br />Election Impact Team<br /><a href="http://www.electionimpact.com">http://www.electionimpact.com</a><br />P: 202.737.2277, 1-800-VOTENET&trade; <span>(868-3638)</span></p>