<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tbody>
    <tr>
      <td align="left" valign="top"><table border="1" cellspacing="0" cellpadding="0" width="778" align="center" bgcolor="#ffffff">
          <tbody>
            <tr>
              <td align="left" valign="top"><table border="0" cellspacing="0" cellpadding="5" width="747" align="left">
                  <tbody>
                    <tr>
                      <td width="747" align="left" valign="top"><table border="0" cellspacing="5" cellpadding="5" width="100%">
                          <tbody>
                            <tr>
                              <td colspan="2" align="left"><img src="##SERVER_ADMIN_ROOT##images/election_impact.png" alt="Election Impact" /></td>
                            </tr>
                            <tr>
                              <td colspan="2"><strong>Dear ##customer_name##, </strong></td>
                            </tr>
                            <tr>
                              <td colspan="2">Your login details are as follows: </td>
                            </tr>
                            <tr>
                              <td width="13%">Username :</td>
                              <td width="87%">##username##</td>
                            </tr>
                            <tr>
                              <td>Password :</td>
                              <td>##password##</td>
                            </tr>
                            <tr>
                              <td colspan="2"> Sincere Regards,<br />
                                Election Impact Team.</td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
