<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>##site_name##</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
.header_back
{
	background-image:url(images/bg.jpg);
	background-repeat:repeat-x;
}
-->

</style>
</head>
<body >
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="86" align="left" valign="bottom" class="header_back">
<table width="960" cellspacing="0" cellpadding="0" border="0" summary="Page Header">
      <tbody><tr>
        <td valign="top" height="125" align="left">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" summary="Election Impact Logo">
          <tbody><tr>
            <td valign="top" height="13" align="left"></td>
          </tr>
          <tr>
            <td valign="top" align="center"><img width="255" height="86" border="0" alt="Election Impact" src="../common/templates/images/logo.jpg"></td>
          </tr>
        </tbody></table>
        </td>
      </tr>
    </tbody></table>    
    </td>
  </tr>
  <tr>
  	<td align="center">
    &nbsp;
<table width="960" cellspacing="0" cellpadding="0" border="0" summary="Main Navigation Menu">
      <tbody><tr>
        <td width="367" align="right" valign="middle" class="button" style="font-size:18px;color:#000;font-weight:normal;" >
        	<img src="../common/templates/images/icons/lightning_sign_64.jpg" alt="Site is under maintenance." title="Site is under maintenance" />
        </td>
        <td width="593" align="left" valign="top" class="button" style="padding-top:25px;font-size:20px;color:#CA1015;font-weight:bold;text-shadow:1px 1px #CCC;">
        	&nbsp;Site is Under Maintenance.
        </td>
      </tr>
    </tbody></table>
    <div style="background:url(images/dot-line.gif) repeat-x;height:2px;"></div>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top" style="padding:20px; font-size:11px;letter-spacing:1px;">##offline_message##</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>
