<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<style type="text/css">
<!--
body {
	margin-left: 30px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
-->
</style>
</head>
<body >
<table width="550" cellspacing="0" cellpadding="0" >
  <tr>
    <td height="11" align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" style="padding-top:2px; padding-bottom:2px; font-size:11px;letter-spacing:1px;">Dear <strong>##to_name##,</strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="font-size:11px;"><strong>##from_name##</strong> has sent you a ticket from Election Impact.<br/></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" style="font-size:11px;"><strong>Message:</strong></td>
  </tr>
  <tr>
    <td align="left" valign="top" style="font-size:11px;">##message##</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"></td>
  </tr>
  <tr>
    <td align="left" valign="top" style="font-size:11px;">Thank You</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>
