ul.sortableList {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-family: Arial, sans-serif;
}
ul.sortableList li {
	cursor: move;
	padding: 5px 5px;
	margin: 5px 0px;
	border: 1px solid #000000;
	background-color: #CFEBFF;
	font-weight:bold;
	vertical-align:middle;
}

div#divContainer {
	border: 1px solid #000000;
	width: 400px;
}

div#divContainer div {
	border: 1px solid #000000;
	margin: 5px;
	padding: 2px;
	cursor: move;
}

div#imageContainer {
	margin-left: 75px;
}

div#imageContainer img {
	cursor: move;
	display: block;
	margin: 5px 0px;
	border: 1px solid #000000;
}

div#imageFloatContainer {
	width: 600px;
	border: 1px solid #000000;
}

div#imageFloatContainer img {
	float: left;
	margin: 10px;
	border: 1px solid #000000;
}